<mat-card *ngIf="sentimentData;">

  <mat-card-title>
    {{ (finnhub.quoteBySymbol(sentimentData.symbol) | async)?.name }} ({{ sentimentData.symbol }})
  </mat-card-title>

  <mat-card-content>
    <div class="flex-cols">
      <ng-container *ngFor="let month of sentimentData.data.reverse(); let i = index">
        <div class="mr flex-cols" *ngIf="i < 3">
          <div>
            <p>{{ month.year + '-' + month.month + '-01' | date: 'MMMM' }}</p>
            <p>Change: {{ month.change }}</p>
            <p>MSPR: {{ month.mspr | number }}</p>
          </div>
          <div>
            <mat-icon class="color-green mt" *ngIf="month.change >= 0; else arrowDown">arrow_upward</mat-icon>
            <ng-template #arrowDown>
              <mat-icon color="warn" class="mt">arrow_downward</mat-icon>
            </ng-template>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="sentimentData.data.length === 0">
        <p>To this symbol have no recent insider sentiments been found.</p>
      </ng-container>

    </div>
  </mat-card-content>

  <mat-divider inset></mat-divider>

  <mat-card-footer>
    <button mat-button color="primary" [routerLink]="'/'">&lt; Back to list of stocks</button>
  </mat-card-footer>

</mat-card>
